.pick-list {
  display: flex;
  flex-direction: row;
}

.basis-list {
  list-style-type: none;
  border: 1px solid rgb(214, 214, 214);
  width: 230px;
  height: 300px;
  padding: 7px;
  overflow: scroll;
  margin: 10px 10px 10px auto;
}

.target-list {
  list-style-type: none;
  border: 1px solid rgb(214, 214, 214);
  width: 230px;
  height: 300px;
  padding: 7px;
  overflow: scroll;
  margin: 10px auto 10px 10px;
}

.item-list-basis {
  margin-top: 5px;
}

.item-list:hover {
  background-color: grey;
  cursor: pointer;
}

.item-list-basis:hover {
  background-color: grey;
  cursor: pointer;
}
